@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@100&display=swap');

body{
    margin: 0;
    padding: 0;
}

body {
    background-color: 333436;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*centramos todo*/
    align-items: center;
}

.container {
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*alinea items al centro*/
}

.container-images {
    width: 400px;
    height: 312px;
    border-radius: 50%;
    transform: scale(0.48);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-images:after {
    content: "";
    height: 10px;
    width: 100%;
    top: 390px;
    position: absolute;
}

.container-images:hover {
    /*zoom al pasar mouse*/
    transform: scale(0.54);
}

.images {
    top: -200px;
    position: relative;
    transform-origin: 50%;
    clip-path: path("M 390,400 C 390,504.9341 304.9341,590 200,590 95.065898,590 10,504.9341 10,400 V 10 H 200 390 Z");
}

.circle {
    width: 380px;
    height: 380px;
    top: 210px;
    left: 10px;
    position: absolute;
    border-radius: 50%;
    background-color: #fee7d3;
}

.img {
    position: relative;
    transform: translateY(20px) scale(1.2);
    /*Trae la imagen adelante*/
    transform-origin: 50%;
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-images:hover .img {
    transform: translateY(0) scale(1.2)
        /*elevacion de img*/
}


/* corregimos medidas de img para el fondo */
.img1 {
    width: 340px;
    top: 210px;
    left: 30px;
}

/* linea - separador */
.divider {
    width: 160px;
    height: 1px;
    background-color: #e47c7c;
}

/* edicion del nombre "Vladimir" */
.name {
    margin-top: 15px;
    font-size: 35px;
    letter-spacing: 2px;
    text-align: center;
    font-weight: bold;
    color: #fee7d3;
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Roboto', sans-serif;
}

/* edicion del titulo "developer" */
.title {
    margin-top: 5px;
    font-size: 18px;
    letter-spacing: 1px;
    color: whitesmoke;;
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
}

.container p {
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
    text-align:  center;
    color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
}

.container a {
    font-weight: 500;
    text-decoration: none;
    color: cadetblue;
    font-family: 'Open Sans', sans-serif;
}

.aviso .mensaje{
    font-size: 30px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #e47c7c;
}